body{
    background-image: url(carr.gif.crdownload);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.drive{
    font-family: cursive;
    color: palevioletred;
    text-align: center;
}